@charset 'utf-8';

@use 'sass:list';

@use 'scss/mixins';
@use 'scss/variables.module.scss' as *;
@use 'scss/swipeVariables';
@use 'scss/carousel';
@use 'scss/form';
@use 'scss/table';
@use 'scss/button';
@use 'scss/pricing';
@use 'scss/search';
@use 'scss/overlay';
@use 'scss/custom';
@use 'scss/flip';
@use 'scss/functions';
@use 'scss/breakpoints.module' as breakpoints;

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 18px font-size, at 16px browser font-size
// 30px line-height, at 18px root (html) element font-size
html {
    box-sizing: border-box;
    font: list.slash($root-font-size, $root-line-height) 'Roboto',
        'Helvetica Neue';
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: hsla(0, 0%, 0%, 0.8);
    font-family: 'Roboto', 'Helvetica Neue';
    font-weight: $base-font-weight;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

*::after,
*::before {
    box-sizing: inherit;
}

abbr[title] {
    text-decoration: underline dotted;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    vertical-align: middle;
}

button,
select {
    text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
    border: none;
    // background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    appearance: textfield;
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

a,
a:hover,
a:focus,
a:active {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
}

.link-button {
    cursor: pointer;
    color: var(--link-color);
    background: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: var(--heading-color);
    margin: 0 0 1.666rem 0;
    padding: 0;
    line-height: 1.1;
    font-weight: 600;
    font-family: 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Helvetica',
        'Arial', 'sans-serif';
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-size: 1.6rem;
    @include breakpoints.breakpoint(tablet) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.3rem;
    &.h3-large {
        font-size: 1.3rem;
        @include breakpoints.breakpoint(tablet) {
            font-size: 1.5rem;
        }
    }
}

h4 {
    font-size: 1rem;
    &.h4-large {
        font-size: 1.1rem;
    }
}

p {
    color: var(--text-color);
    margin: 0 0 1.666rem 0;
    padding: 0;
    &.margin-laptop {
        @include breakpoints.breakpoint(laptop) {
            margin-bottom: 0;
        }
    }
}

img {
    max-width: 100%;
    margin: 0 0 1.666rem 0;
    padding: 0;
}

blockquote {
    margin: 0 0 2em;
    padding: 1rem;
    border-left: 0.25em solid var(--border-color);
    color: inherit;
    background: #faf9f7;
}

article {
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-top: 1.666rem;
    }

    li {
        color: var(--text-color);
        padding-left: 1rem;
    }

    a {
        position: relative;
        font-weight: 500;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--link-color);
            transform-origin: bottom right;
            transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

span {
    vertical-align: middle;
}

label,
.label {
    display: block;
    font-size: 70%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $lightgrey;
}

.category {
    font-size: functions.pxToRem(14px);
    padding: functions.pxToRem(2px) functions.pxToRem(12px);
    display: inline-block;

    // @include breakpoints.breakpoint(laptop) {
    //     font-size: 1rem;
    // }

    &--blue {
        @extend .category;
        color: var(--alt-color);
        background-color: var(--alt-blue);
    }
    &--cred {
        @extend .category;
        color: var(--alt-color);
        background: var(--secondary-color);
    }
}

.red-label {
    font-size: functions.pxToRem(14px);
    padding: functions.pxToRem(2px) functions.pxToRem(12px);
    color: var(--alt-color);
    background: var(--secondary-color);
    text-align: center;
    z-index: 2;
}

.abs-label {
    position: absolute;
    top: -10px;
}

.blue-label,
label.blue-label {
    display: inline;
    color: var(--blue);
    background-color: var(--accent-color);
    padding: 0.2rem 0.5rem;

    font-size: 1rem;
    font-weight: $base-font-weight;
    text-transform: none;
    letter-spacing: normal;
}

b,
strong {
    color: $black;
    font-weight: 500;
}

.normal-font-weight {
    font-weight: 400 !important;
}

.light-bold {
    font-weight: 500 !important;
}

.bold {
    font-weight: 700 !important;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: none !important;
}

.small-font {
    font-size: 85% !important;
}

.xs-font {
    font-size: 70% !important;
}

.hover-scale-img:hover {
    svg,
    img {
        transform: scale(1.1) !important;
        transition: all 0.3s ease-out 0s !important;
    }
}

.hover-scale-svg:hover {
    svg {
        transform: scale(1.1) !important;
        transition: all 0.1s ease-out 0s !important;
    }
}

.hover-box-shadow {
    &:hover {
        box-shadow: 0 0 11px 5px rgba(33, 33, 33, 0.2) !important;
        transition: all 0.1s ease-out 0s !important;
    }
}

.hover-color-yellow:hover {
    &,
    a,
    button {
        color: var(--yellow) !important;
    }
}

.hover-color-red:hover {
    &,
    a,
    button {
        color: var(--link-color) !important;
        transition: color 0s ease-out 0s !important;
    }
}

.hover-bold:hover {
    &,
    * {
        font-weight: 500 !important;
    }
}

.grey-border {
    border: 1px solid var(--border-color) !important;
}

.grey-left-border {
    border-left: 1px solid var(--border-color) !important;
}

.grey-bottom-border {
    border-bottom: 1px solid var(--border-color) !important;
}

.rounded {
    border-radius: 0.375rem !important;
}

.rounded-and-shadow {
    border-radius: 0.375rem !important;
    box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.1) !important;
}

.rounded-shadow-2 {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
}

.rounded-shadow-3 {
    border-radius: 0.375rem !important;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
}

.circled {
    border-radius: 50%;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

hr {
    // margin: 0 0 calc(1.666rem - 1px) 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    // border: none;
    // height: 1px;
    // background: var(--border-color);
    // clear: both;
}

iframe {
    // @include breakpoints.breakpoint(mobileL) {
    //     width: 100%;
    //     height: auto;
    // }
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier,
        monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.text-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.btn),
    p {
        color: rgba($white, 0.8);
        font-weight: 500;
    }
}

.text-white {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.btn),
    p {
        color: var(--accent-color) !important;
    }
}

li *:last-child {
    margin-bottom: 0;
}

ul {
    margin-left: 1.5rem;
    padding: 0;
    list-style-position: outside;
    list-style-image: none;
}

ul {
    li {
        position: relative;
        padding-left: 1rem;
        margin-bottom: 0.75rem;
        color: var(--text-color);
    }
}

ul > li::before {
    font-size: 2rem;
    color: var(--primary-color);
    position: absolute;
    top: -1rem;
    left: 0;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mb-m3 {
    margin-bottom: -3rem !important;
}

.mb-m2 {
    margin-bottom: -2rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-03 {
    margin-bottom: 0.3rem !important;
}

.mb-05 {
    margin-bottom: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-1-latop {
    margin-bottom: 1rem !important;
    @include breakpoints.breakpoint(tablet) {
        margin-bottom: 0rem !important;
    }
}

.mb-15 {
    margin-bottom: 1.5rem !important;
}

.mb-15-latop {
    margin-bottom: 1.5rem !important;
    @include breakpoints.breakpoint(tablet) {
        margin-bottom: 0rem !important;
    }
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-3-tablet {
    @include breakpoints.breakpoint(tablet) {
        margin-bottom: 3rem !important;
    }
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-03 {
    margin-left: 0.3rem !important;
}

.ml-05 {
    margin-left: 0.5rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.mr-03 {
    margin-right: 0.3rem !important;
}

.mr-05 {
    margin-right: 0.5rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mx-3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.my-15 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.m-0 {
    margin: 0rem !important;
}

.m-15 {
    margin: 1.5rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-15 {
    padding-top: 1.5rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pb-15 {
    padding-bottom: 1.5rem !important;
}

.pb-2 {
    padding-bottom: 2rem !important;
}

.pb-3 {
    padding-bottom: 3rem !important;
}

.pb-4 {
    padding-bottom: 4rem !important;
}

.pb-5 {
    padding-bottom: 5rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pl-1 {
    padding-left: 1rem !important;
}

.px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-15 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-25 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.px-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.py-05 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-15 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.py-6 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.p-0 {
    padding: 0rem !important;
}

.p-1 {
    padding: 1rem !important;
}

.p-15 {
    padding: 1.5rem !important;
}

.p-25 {
    padding: 2.5rem !important;
}

.text-center {
    text-align: center !important;
}

.text-center-mobile {
    text-align: center !important;
    @include breakpoints.breakpoint(mobileL) {
        text-align: left !important;
    }
}

.text-left {
    margin-right: auto !important;
    justify-content: left !important;
    text-align: left !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

// Don't use this, it sets many properties
// some which apply to element and other to its children.
// Use individual cetnering instead.
.center-mobile {
    text-align: center !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    @include breakpoints.breakpoint(mobileL) {
        text-align: left !important;
        justify-content: left !important;
        justify-items: left !important;
        align-items: stretch !important;
    }
}

.justify-items-center-mobile {
    text-align: center !important;
    justify-items: center !important;
    @include breakpoints.breakpoint(mobileL) {
        text-align: left !important;
        justify-items: left !important;
    }
}

.center-tablet {
    text-align: center !important;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    @include breakpoints.breakpoint(tablet) {
        text-align: left !important;
        justify-content: flex-start !important;
        justify-items: left !important;
        align-items: stretch !important;
    }
}

.d-flex {
    display: flex;
}

.pos-rel {
    position: relative;
}

// .pos-abs {
//     @include breakpoints.breakpoint(laptop) {
//         position: absolute;
//         width: 100%;
//     }
// }

.pos-sticky {
    @include breakpoints.breakpoint(laptop) {
        top: 8rem;
        position: sticky;
    }
}

// .pos-fixed {
//     @include breakpoints.breakpoint(laptop) {
//         position: fixed;
//     }
// }

.y-100 {
    height: 100%;
}

.x-100 {
    width: 100%;
}

.x-auto {
    width: auto !important;
    flex-basis: auto !important;
}

.color-grey {
    color: var(--grey) !important;
}

.color-alt {
    color: var(--alt-color) !important;
}

.bg-white {
    background-color: white !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-light-grey {
    background-color: var(--light-grey) !important;
}

.bg-alt {
    background-color: var(--alt-color) !important;
}

.bg-accent {
    background-color: var(--accent-color) !important;
}

.flex-basis-auto {
    flex-basis: auto !important;
}

.flex-basis-0 {
    flex-basis: 0 !important;
}

.flex-50 {
    flex-basis: 50% !important;
}

.flex-100 {
    flex: 0 1 100% !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.flex-basis-0-grow-1-tablet {
    flex-basis: 100% !important;
    flex-grow: 1 !important;
    @include breakpoints.breakpoint(tablet) {
        flex-basis: 0 !important;
    }
}

.align-self-start {
    align-self: flex-start !important;
}

.justify-content-center-mobile-else-space-between {
    justify-content: center !important;
    @include breakpoints.breakpoint(mobileL) {
        justify-content: space-between !important;
    }
}

.justify-content-center-mobile-else-flex-start {
    justify-content: center !important;
    @include breakpoints.breakpoint(mobileL) {
        justify-content: flex-start !important;
    }
}

.grid-layout-content {
    grid-area: content;
}

.grid-layout-side {
    grid-area: sidebar;
    max-width: 300px;
}

.grid-layout-wrapper {
    display: grid;
    gap: 3rem;
    grid-template-areas:
        'sidebar'
        'content';
    &--left {
        @extend .grid-layout-wrapper;
        @include breakpoints.breakpoint(tablet) {
            grid-template-columns: minmax(250px, min(25%, 300px)) 1fr;
            grid-template-areas: 'sidebar content';
        }
    }
    &--right {
        @extend .grid-layout-wrapper;
        @include breakpoints.breakpoint(tablet) {
            grid-template-columns: 1fr minmax(250px, min(25%, 300px));
            grid-template-areas: 'content sidebar';
        }
    }
}

.vertical-middle {
    vertical-align: middle;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-inline-flex {
    display: inline-flex;
    align-items: center;
}

.display-none {
    display: none;
}

.float-clear-left {
    float: left;
    clear: left;
}