@charset 'utf-8';

@use "sass:list";

@use "scss/mixins";
@use "scss/variables.module.scss" as *;
@use "scss/swipeVariables";
@use "scss/carousel";
@use "scss/form";
@use "scss/table";
@use "scss/button";
@use "scss/pricing";
@use "scss/search";
@use "scss/overlay";
@use "scss/custom";
@use "scss/flip";
@use "scss/functions";
@use "scss/breakpoints.module" as breakpoints;

:root {
    -moz-tab-size: 4;
    tab-size: 4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 18px font-size, at 16px browser font-size
// 30px line-height, at 18px root (html) element font-size
html {
    box-sizing: border-box;
    font: list.slash($root-font-size, $root-line-height) "Roboto", "Helvetica Neue";
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: hsla(0, 0%, 0%, 0.8);
    font-family: "Roboto", "Helvetica Neue";
    font-weight: $base-font-weight;
    word-wrap: break-word;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
}

*::after,
*::before {
    box-sizing: inherit;
}

abbr[title] {
    text-decoration: underline dotted;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    padding: 0;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    appearance: textfield;
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

a,
a:hover,
a:focus,
a:active {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    color: var(--heading-color);
    margin: 0 0 1.666rem 0;
    padding: 0;
    line-height: 1.1;
    font-weight: 600;
    font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", "sans-serif";
    text-rendering: optimizeLegibility;
}

h1,
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.31951rem;
}

p {
    color: var(--text-color);
    margin: 0 0 1.666rem 0;
    padding: 0;
    &.margin-laptop {
        @include breakpoints.breakpoint(laptop) {
            margin-bottom: 0;
        }
    }
}

img {
    max-width: 100%;
    margin: 0 0 1.666rem 0;
    padding: 0;
}

blockquote {
    margin: 0 0 2em;
    padding: 1rem;
    border-left: 0.25em solid var(--border-color);
    color: inherit;
    background: #faf9f7;
}

article {
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-top: 1.666rem;
    }

    li {
        color: var(--text-color);
        padding-left: 1rem;
    }

    a {
        position: relative;
        font-weight: 500;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: var(--link-color);
            transform-origin: bottom right;
            transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

label,
.label {
    display: block;
    font-size: 70%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $lightgrey;
}

b,
strong {
    color: $black;
    font-weight: 500;
}

.light-bold {
    font-weight: 500 !important;
}

.bold {
    font-weight: 700 !important;
}

.uppercase {
    text-transform: uppercase;
}

a.hover-link:hover {
    color: var(--yellow);
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

hr {
    margin: 0 0 calc(1.666rem - 1px) 0;
    padding: 0;
    border: none;
    height: 1px;
    background: var(--border-color);
    clear: both;
}

iframe {
    @include breakpoints.breakpoint(mobileL) {
        width: 100%;
        height: auto;
    }
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.text-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.btn),
    p {
        color: rgba($white, 0.8);
        font-weight: 500;
    }
}

.text-white {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a:not(.btn),
    p {
        color: var(--accent-color) !important;
    }
}

li *:last-child {
    margin-bottom: 0;
}

ul {
    margin-left: 0 0 1.666rem 1.666rem;
    padding: 0;
    list-style-position: outside;
    list-style-image: none;
}

ul {
    li {
        position: relative;
        padding-left: 1rem;
        margin-bottom: 0.75rem;
        color: var(--text-color);
    }
}

ul > li::before {
    font-size: 2rem;
    color: var(--primary-color);
    position: absolute;
    top: -1rem;
    left: 0;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mb-m3 {
    margin-bottom: -3rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-03 {
    margin-bottom: 0.3rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-1-latop {
    margin-bottom: 1rem !important;
    @include breakpoints.breakpoint(tablet) {
        margin-bottom: 0rem !important;
    }
}

.mb-15 {
    margin-bottom: 1.5rem !important;
}

.mb-15-latop {
    margin-bottom: 1.5rem !important;
    @include breakpoints.breakpoint(tablet) {
        margin-bottom: 0rem !important;
    }
}

.mb-05 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.my-3 {
    margin: 3rem 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-15 {
    padding-top: 1.5rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-2 {
    padding-bottom: 2rem !important;
}

.pb-3 {
    padding-bottom: 3rem !important;
}

.px-15 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.px-25 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.px-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.py-15 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.py-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.p-15 {
    padding: 1.5rem !important;
}

.p-25 {
    padding: 2.5rem !important;
}
.grey-border {
    border: 1px solid var(--border-color) !important;
}

.rounded {
    border-radius: 0.375rem !important;
}

.rounded-and-shadow {
    // border: 1px transparent var(--border-color) !important;
    border-radius: 0.375rem !important;
    box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.1) !important;
}

.circled {
    border-radius: 50%;
}

.text-center {
    text-align: center !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.center-mobile {
    text-align: center;
    align-items: center;
    @include breakpoints.breakpoint(mobileL) {
        text-align: left;
        align-items: stretch;
    }
}

.center-tablet {
    text-align: center;
    align-items: center;
    @include breakpoints.breakpoint(tablet) {
        text-align: left;
        align-items: stretch;
    }
}

.small-font {
    font-size: 85% !important;
}

.xs-font {
    font-size: 70% !important;
}

.d-flex {
    display: flex;
}

.category {
    font-size: 0.8rem;

    @include breakpoints.breakpoint(laptop) {
        font-size: 1rem;
    }

    color: var(--blue);
    background-color: var(--accent-color);
    height: fit-content;
    padding: 0.2rem 0.5rem;
    width: fit-content;
}

.link-button {
    color: var(--link-color);
}

.red-label {
    position: absolute;
    top: -10px;
    background: var(--secondary-color);
    padding: 2px 12px;
    font-size: pxToRem(14px);
    color: var(--alt-color);
    text-align: center;
    z-index: 2;
}

.blue-label,
label.blue-label {
    display: inline;
    color: var(--blue);
    background-color: var(--accent-color);
    padding: 0.2rem 0.5rem;

    font-size: 1rem;
    font-weight: $base-font-weight;
    text-transform: none;
    letter-spacing: normal;
}

.pos-rel {
    position: relative;
}

.bg-white {
    background-color: white;
}

.y-100 {
    height: 100%;
}

.x-100 {
    width: 100%;
}

.bg-alt {
    background-color: var(--alt-color);
}
.bg-accent {
    background-color: var(--accent-color);
}

.flex-100 {
    flex: 0 1 100% !important;
}
