/** Button styles **/
@use 'variables.module' as *;

$buttonColor: var(--button-color);
$secondaryColor: var(--yellow);
$buttonBorderRadius: 35px;

.button, .button[type='submit'] {
    border: $border-width solid;
    background-color: $buttonColor;
    color: $grey;
    cursor: pointer;
    font-size: 90%;
    font-weight: 500;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all 0.4s ease;
    border-color: $buttonColor;
    border-radius: $buttonBorderRadius;
    overflow: visible;
    font-family: inherit;
    line-height: inherit;
    margin: 0;

    &.small {
        font-size: 80%;
    }

    &:hover {
        background-color: transparent;
        color: $buttonColor;
    }

    &.primary {
        color: var(--primary-color);
        border-color: $secondaryColor;
        background-color: $secondaryColor;
        border-radius: $buttonBorderRadius;

        &:hover {
            background-color: transparent;
            color: $secondaryColor;
        }

        &.inverse {
            color: $secondaryColor;
            border-color: $secondaryColor;
            background-color: transparent;
            border-radius: $buttonBorderRadius;

            &:hover {
                background-color: $secondaryColor;
                color: var(--primary-color);
            }
        }
    }
    &.inverse {
        border-color: $buttonColor;
        background-color: transparent;
        color: $buttonColor;

        &:hover {
            background-color: $buttonColor;
            color: $white;
        }
    }

    &.m-auto {
        display: flex;
        margin: -4.5rem auto 0 auto;
    }

    &.center {
        display: flex;
        margin: 3rem auto -3rem auto;
    }
}

.call-to-action-button {
    /* font-family: var(--font-headline); */
    /* font-feature-settings: var(--font-headline-feature-settings); */

    --button-color-foreground: var(--secondary-color);
    --button-color-background: var(--yellow);

    font-size: 1em;
    color: var(--button-color-foreground);
    border-radius: var(--border-radius);
    padding: 0.5em 1.5em;
    text-decoration: none;
    // text-transform: uppercase;
    background-color: var(--button-color-background);
    transition: background 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.call-to-action-button-blue {
        --button-color-foreground: var(--alt-color);
        --button-color-background: var(--primary);
    }

    &:active,
    &:hover {
        // --button-color-foreground: var(--alt-color);
        // --button-color-background: var(--color-blue-B700);
        filter: brightness(85%);
    }
}
