@mixin border($value: top) {
    @if $value == top {
        border-top: 1px solid var(--border-color);
    } @else if $value == right {
        border-right: 1px solid var(--border-color);
    } @else if $value == bottom {
        border-bottom: 1px solid var(--border-color);
    } @else if $value == left {
        border-left: 1px solid var(--border-color);
    } @else if $value == all {
        border: 1px solid var(--border-color);
    }
}
