$timeline-color: var(--primary-color);

// Mixins and Placeholders
%clearfix {
    &:after,
    &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

@mixin prefix($prop, $val) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        #{$prefix}#{$prop}: $val;
    }
}

// Timeline
#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    @include prefix(transition, all 0.4s ease);

    &:before {
        content: '';
        width: 3px;
        height: 100%;
        background: var(--border-color);
        left: 50%;
        top: 0;
        position: absolute;
    }

    &:after {
        content: '';
        clear: both;
        display: table;
        width: 100%;
    }

    .timeline-item {
        margin-bottom: 50px;
        position: relative;
        @extend %clearfix;

        .timeline-icon {
            position: absolute;
            top: 0;
            left: 50%;
            width: 80px;
            height: 80px;
            background-color: var(--primary-color);
            border-radius: 50%;
            overflow: hidden;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                position: relative;
                fill: var(--yellow);
                width: 45px;
                height: 45px;
            }
        }

        .timeline-content {
            width: 45%;
            background: #fff;
            padding: 2rem 1.5rem;
            border: 1px solid var(--border-color);
            @include prefix(border-radius, 5px);
            @include prefix(transition, all 0.3s ease);
            box-shadow: 0 0 32px 4px rgba(0, 0, 0, 0.1);

            h3 {
                font-weight: 500;
                margin-bottom: 1rem;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: calc(45% - 7.5px);
                top: 35px;
                width: 15px;
                height: 15px;
                background: #ffffff;
                border: 1px solid transparent;
                border-right-color: var(--border-color);
                border-bottom-color: var(--border-color);
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &.right {
                float: right;

                &:before {
                    content: '';
                    right: calc(45% - 7.5px);
                    left: inherit;
                    border: 1px solid transparent;
                    border-left-color: var(--border-color);
                    border-top-color: var(--border-color);
                }
            }
        }
    }
}

#timeline {
    .btn {
        padding: 5px 15px;
        text-decoration: none;
        background: transparent;
        // border: 2px solid lighten($primary-color, 10%);
        color: var(--primary-color);
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
        @include prefix(border-radius, 5px);
        @include prefix(transition, background 0.3s ease);

        &:hover {
            box-shadow: none;
            top: 2px;
            left: 2px;
        }
    }
}
@media screen and (max-width: 768px) {
    #timeline {
        &:before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;

                &:before {
                    left: 10%;
                    margin-left: -6px;
                    border-right: 0;
                    border-bottom: 0;
                    border-left-color: var(--border-color);
                    border-top-color: var(--border-color);
                }

                &.right:before {
                    left: 10%;
                    margin-left: -6px;
                }
            }

            .timeline-icon {
                left: 0;
                transform: translateX(-70%);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #timeline {
        .timeline-item {
            .timeline-icon {
                width: 50px;
                height: 50px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
